
<div class="abc">
  Assessment history
</div>

<hr>
<div class="row" style="margin-top:15px;">
        <div class="col-lg-1 col-sm-12">
    
        </div>
        <div class="col-lg-10 col-sm-12">
          
          <div class="row" style="padding-bottom:15px;">
            <div class="col-lg-4 col-12 col-sm-6 col-md-6" style="margin-top:15px;">
              
              <div class=" card  card1" style="height:100%;">
                <div class="card-body">
                  <h2>Java</h2>
                  <hr>
                    <div class="row">
                      <div class="col-lg-5 col-5 col-sm-5" >
                        <span class="badge " 
                          style="font-weight:400;font-size:16px;background-color:blue;color:white;opacity:0.7;">
                          Entry Test
                        </span>
                        <br><span class="testdate">8 Dec 2018</span>
                      </div>
                      <div class="col-lg-5 col-5 col-sm-5" >
                        <span class="percent">80<span style="font-size:25px;">%</span></span>
                      </div>
                      <div class="col-lg-2 col-2 col-sm-2" >
                        <div class="vertical-center"><button data-toggle="modal" data-target="#myModal" class="fas fa-ellipsis-v show-result" ></button></div>
                        
                      </div>
                    </div>
                  <hr>
                    <div class="row">
                      <div class="col-lg-5 col-5 col-sm-5 " >
                        <span class="badge " 
                          style="font-weight:400;font-size:16px;background-color:green;color:white;opacity:0.7;">
                          Exit Test													
                        </span>
                        <br><span class="testdate">8 Dec 2018</span>
                      </div>
                      <div class="col-lg-5 col-5 col-sm-5" >
                        <span class="percent">80<span style="font-size:25px;">%</span></span>
                      </div>
                      <div class="col-lg-2 col-2 col-sm-2" >
                        <div class="vertical-center"><button data-toggle="modal" data-target="#myModal" class="fas fa-ellipsis-v show-result" ></button></div>
                      </div>
                    </div>
                  
                </div>
              </div>
              
            </div>
            <div class="col-lg-4 col-12 col-sm-6 col-md-6" style="margin-top:15px;">
              
              <div class=" card card1 " style="height:100%;">
                <div class="card-body">
                  <h2>HTML</h2>
                  <hr>
                    <div class="row">
                      <div class="col-lg-5 col-5 col-sm-5" >
                        <span class="badge " 
                          style="font-weight:400;font-size:16px;background-color:blue;color:white;opacity:0.7;">
                          Entry Test
                        </span>
                        <br><span class="testdate">8 Dec 2018</span>
                      </div>
                      <div class="col-lg-5 col-5 col-sm-5" >
                        <span class="percent">80<span style="font-size:25px;">%</span></span>
                      </div>
                      <div class="col-lg-2 col-2 col-sm-2" >
                        <div class="vertical-center"><button data-toggle="modal" data-target="#myModal" class="fas fa-ellipsis-v show-result" ></button></div>
                        
                      </div>
                    </div>
                  <hr>
                    <div class="row">
                      <div class="col-lg-5 col-5 col-sm-5 " >
                        <span class="badge " 
                          style="font-weight:400;font-size:16px;background-color:green;color:white;opacity:0.7;">
                          Exit Test													
                        </span>
                        <br><span class="testdate">8 Dec 2018</span>
                      </div>
                      <div class="col-lg-5 col-5 col-sm-5" >
                        <span class="percent">80<span style="font-size:25px;">%</span></span>
                      </div>
                      <div class="col-lg-2 col-2 col-sm-2" >
                        <div class="vertical-center"><button data-toggle="modal" data-target="#myModal" class="fas fa-ellipsis-v show-result" ></button></div>
                      </div>
                    </div>
                  
                </div>
              </div>
              
            </div>
            <div class="col-lg-4 col-12 col-sm-6 col-md-6" style="margin-top:15px;">
              
              <div class=" card card1" style="height:100%;">
                <div class="card-body">
                  <h2>Angular</h2>
                  <hr>
                    <div class="row">
                      <div class="col-lg-5 col-5 col-sm-5" >
                        <span class="badge " 
                          style="font-weight:400;font-size:16px;background-color:blue;color:white;opacity:0.7;">
                          Entry Test
                        </span>
                        <br><span class="testdate">8 Dec 2018</span>
                      </div>
                      <div class="col-lg-5 col-5 col-sm-5" >
                        <span class="percent">80<span style="font-size:25px;">%</span></span>
                      </div>
                      <div class="col-lg-2 col-2 col-sm-2" >
                        <div class="vertical-center"><button data-toggle="modal" data-target="#myModal" class="fas fa-ellipsis-v show-result" ></button></div>
                        
                      </div>
                    </div>
                  <hr>
                    <div class="row">
                      <div class="col-lg-5 col-5 col-sm-5 " >
                        <span class="badge " 
                          style="font-weight:400;font-size:16px;background-color:green;color:white;opacity:0.7;">
                          Exit Test													
                        </span>
                        <br>
                      </div>
                      <br>
                      <div class="stmt">Assessment yet to be taken.</div>
                     <!--  <div class="col-lg-5 col-5 col-sm-5" >
                        <span class="percent">80<span style="font-size:25px;">%</span></span>
                      </div> -->
                      <!-- <div class="col-lg-2 col-2 col-sm-2" >
                        <div class="vertical-center"><button data-toggle="modal" data-target="#myModal" class="fas fa-ellipsis-v show-result" ></button></div> 
                      </div>-->
                    </div>
                 
                </div>
              </div>
              
            </div>
            <div class="col-lg-4 col-12 col-sm-6 col-md-6" style="margin-top:15px;">
              
              <div class=" card card1" style="height:100%;">
                <div class="card-body">
                  <h2>Java</h2>
                  <hr>
                    <div class="row">
                      <div class="col-lg-5 col-5 col-sm-5" >
                        <span class="badge " 
                          style="font-weight:400;font-size:16px;background-color:blue;color:white;opacity:0.7;">
                          Entry Test
                        </span>
                        <br><span class="testdate">8 Dec 2018</span>
                      </div>
                      <div class="col-lg-5 col-5 col-sm-5" >
                        <span class="percent">80<span style="font-size:25px;">%</span></span>
                      </div>
                      <div class="col-lg-2 col-2 col-sm-2" >
                        <div class="vertical-center"><button data-toggle="modal" data-target="#myModal" class="fas fa-ellipsis-v show-result" ></button></div>
                        
                      </div>
                    </div>
                  <hr>
                    <div class="row">
                      <div class="col-lg-5 col-5 col-sm-5 " >
                        <span class="badge " 
                          style="font-weight:400;font-size:16px;background-color:green;color:white;opacity:0.7;">
                          Exit Test													
                        </span>
                        <br><span class="testdate">8 Dec 2018</span>
                      </div>
                      <div class="col-lg-5 col-5 col-sm-5" >
                        <span class="percent">80<span style="font-size:25px;">%</span></span>
                      </div>
                      <div class="col-lg-2 col-2 col-sm-2" >
                        <div class="vertical-center"><button data-toggle="modal" data-target="#myModal" class="fas fa-ellipsis-v show-result" ></button></div>
                      </div>
                    </div>
                  
                </div>
              </div>
              
           
            
            
            
          </div>
        </div>
        <div class="col-lg-1 col-sm-12">
    
        </div>
      </div>
      
    </div>
    
    
    
    <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
       
      <h4 class="modal-title">Entry Test Answers</h4>
       <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
              1
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
              2
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardswrong" style="font-weight:400;">
              3
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
              4
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
              5
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardswrong" style="font-weight:400;">
              6
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
              7
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
              8
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
              9
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardswrong" style="font-weight:400;">
              10
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
              11
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
              12
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
              13
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
              14
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
              15
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
              16
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
              17
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardswrong" style="font-weight:400;">
              18
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
              19
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
              20
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
              21
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
              22
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
              23
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
             24
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardswrong" style="font-weight:400;">
              25
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
              26
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
              27
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardswrong" style="font-weight:400;">
              28
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardswrong" style="font-weight:400;">
              29
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
              30
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
              31
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardswrong" style="font-weight:400;">
              32
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
              33
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
              34
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
              35
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
              36
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardswrong" style="font-weight:400;">
              37
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
              38
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardswrong" style="font-weight:400;">
              39
            </div>
          </div>
          <div class="col-lg-2 col-3 col-md-2 col-sm-2">
            <div class="badge answercardsright" style="font-weight:400;">
              40
            </div>
          </div>
        </div>
        <hr>
        
        <div class="badge" style="height:20px;width:20px;background-color:green;color:green;opacity:.7;">0</div>&nbsp;Correct Answers&nbsp;&nbsp;&nbsp;
        <div class="badge" style="height:20px;width:20px;background-color:red;color:red;opacity:.7;">0</div>&nbsp;Incorrect Answers
  
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  
    </div>
  </div>
  
  
  