.alert-message
{
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
    border-right: 3px solid #eee;
}
.alert-message h4
{
    margin-top: 0;
    margin-bottom: 5px;
}
.alert-message p:last-child
{
    margin-bottom: 0;
}
.alert-message code
{
    background-color: #fff;
    border-radius: 3px;
}
.alert-message-info
{
    background-color: #f4f8fa;
    border-color: #5bc0de;
    margin-top: 130px;
    text-align: center;
}
.alert-message-info h4
{
    color: darkblue;
}

#btn-login{

    width:100%;
    color: white;
    font-weight:40%;

}
#message{
  font-weight: 450;
  font-size: large;
}
.container-fluid{
  background-image: url("/assets/images/im1.jpg");
  min-height:90vh;
}
