a {
  text-decoration: none;
}

.entrytest {
  font-weight: 300;
  font-size: 16px;
  background-color: blue;
  color: white;
  opacity: 0.8;
}

.exittest {
  font-weight: 300;
  font-size: 16px;
  background-color: green;
  color: white;
  opacity: 0.8;
}

.viewskills {
  margin: 2px;

}

.skilltaken {
  font-weight: 300;
  font-size: 16px;
}

.testdate {
  font-size: 13px;
  color: grey;
}

.percent {
  font-weight: 600;
  font-size: 40px;
  color: grey;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

.show-result {
  color: grey;
  font-size: 15px;
  border: none;
  background-color: #fff;
}

.show-result:hover {
  border: none;
  background-color: #fff;
  box-shadow: none;
}

.show-result:focus {
  border: none;
  background-color: #fff;
  box-shadow: none;
}

.show-result:active {
  border: none;
  box-shadow: none;
  background-color: #fff;
}

.answercards {
  width: 100%;
  height: 100%;
  border: 3px solid white;
  color: white;
  font-size: 25px;
  border-radius: .5rem;
  opacity: .7;
}

.answercardsright {
  background-color: green;
  width: 100%;
  height: 100%;
  border: 3px solid white;
  color: white;
  font-size: 25px;
  border-radius: .5rem;
  opacity: .7;
}

.answercardswrong {
  background-color: red;
  width: 100%;
  height: 100%;
  border: 3px solid white;
  color: white;
  font-size: 25px;
  border-radius: .5rem;
  opacity: .7;
}

.avatar-upload {
  padding-left: 25px;
  position: relative;
  max-width: 205px;
}

.avatar-upload .avatar-edit {
  position: absolute;
  right: 5px;
  z-index: 1;
  top: 10px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit input+label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 7px;
  color: #5BC0DE;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.avatar-upload .avatar-preview {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #C8CBD1;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-header {
  background-color: rgb(221, 233, 205);
}

.ts-card1 {
  margin: 100px 0px 0px 0px;
  height: 50%;
  width: 50%;
}


/* 
@media (max-width: 575.98px) {
  .dropdown-menu {
    width: 99px;
  }

  .ml-12 {
    margin-left: 0px;
  }
  .mr-12 {
    margin-right: 0px
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .dropdown-menu {
    width: 451px;
  }
  .ml-12 {
    margin-left: 0px;
  }
  .mr-12 {
    margin-right: 0px
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .dropdown-menu {
    width: 451px;
  }
  .ml-12 {
    margin-left: 72px;
  }
  .mr-12 {
    margin-right: 0px
  }
}

@media (min-width: 1200px) {
  .dropdown-menu {
    width: 729px;
  }
  .ml-12 {
    margin-left: 0px;
  }
  .mr-12 {
    margin-right: 0px
  }
} */

@media (min-width: 768px) and (max-width: 991.98px) {
  .dropdown-menu {
    width: 451px;
  }
  .ml-12 {
    margin-left: 72px;
  }
  .mr-12 {
    margin-right: 0px
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .dropdown-menu {
    width: 729px;
  }

  .ml-12 {
    margin-left: 35px;
  }

  .mr-12 {
    margin-right: 0px
  }
}

@media screen and (max-width: 1001px) {
  .bigScreen {
    display: none;
  }

  .smallScreen {
    display: block;
  }
}

@media screen and (min-width: 1000px) {
  .bigScreen {
    display: block;
  }

  .smallScreen {
    display: none;
  }
}

.center1 {

  left: 0;

  width: 100%;
  text-align: center;
  font-size: 40px;
}

/* .center2 {
  position: absolute;
  left: 0;
  top: 23%;
  width: 100%;
  text-align: center;
  font-size: 40px;
} */

.plus {
  font-size: 20px;
  cursor: pointer;
}

.cross {
  cursor: pointer;
  color: lightgrey;
}

.arr1 {
  margin: 0px 12px 24px 8px;
  font-size: 15px;
}

.arr2 {
  margin: 120px 0px 0px 0px;
  font-size: 40px;
}

.f1 {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.m1 {
  margin: 90px 0px 0px 0px;
}

.inlineelements {
  display: inline-block;
}

.skillnameStyle {
  font-size: 35px;
  font-weight: bold;
}

.padding1opx {
  padding: 10px;
}

.edittopics {
  font-size: 1.5rem;
  color: rgb(19, 114, 158);
  cursor: pointer;
}


.mb-40px {
  margin-bottom: 40px
}

.mt-14px {
  margin-top: 15px;
}

.p-5px {
  padding: 5px;
}

.skill-default-image {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.cursorpointer {
  cursor: pointer;
}

.mt-19px {
  margin-top: 19px;
}

.description-icon {
  font-size: 31px;
  color: grey;
}

.inside-des-icon {
  margin-top: 19px;
  cursor: pointer;
  font-size: 25px
}

.description-style {
  color: #888;
  line-height: 1;
  font-size: 14px
}

.pb-15px {
  padding-bottom: 15px;
}

.mt-20px {
  margin-top: 20px;
}

.height-100 {
  height: 100%;
}

.performeer-name {
  font-weight: 400;
  font-size: 16px;
  background-color: blue;
  color: white;
  opacity: 0.7;
}
.min-height-additional-skill{
  min-height: 245px
}
.text-not-center{
  text-align: initial!important;
  display: inline;
}